body{
  background-color: orange;
}
.App{
  width:95vw;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}


.formContainer{
height: auto;
}
.formTitle{
  text-align: center;
}
.formItself{
  display: flex;
  flex-flow: column;
}
.formSearch{
  background-image: url('https://cdn.pixabay.com/photo/2016/07/27/20/39/marquee-1546213_1280.png');
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: orange;
  /* background-size: contain; */
/* background-repeat: no-repeat; */
  height: 5em;
  width: 20em;
  margin: 0 0 1em 0;
  font-size: xx-large;
  text-align: center;
  border: solid black;
  border-radius: 10% / 20%;
}
.formButton{
  width: 50%;
  margin: 0 auto;
  border-radius: 45px;
}